<div class="row">
	<div class="large-12 columns">
  	<h3>Edit Page</h3>
   </div> 
	<%= render 'form' %>

	<div class="row">
  	<div class="large-4 columns">
			<%= link_to 'Show', @page %> |
			<%= link_to 'Back', pages_path %>
		</div>
	</div>
</div>
