<% if can? :manage, Candidate %>
  <table>
    <thead>
      <tr>
        <th><h5>All Candidates</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr> <td> <strong><%= link_to 'Overview page', job_candidates_path %></strong> </td> </tr>
      <% @candidates.each do |candidate| %>
        <% if candidate.reputation_for(:votes).to_i  %>
          <tr>
            <td><%= link_to candidate.user.full_name, job_candidate_path(@job, candidate), :data => { :no_turbolink => true }  %> 
            <br>
            <%= pluralize candidate.reputation_for(:votes).to_i, "Recommendation"%></td>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
