<div class="row">
	<div class="large-12 columns">
	<div class="large-8 columns">
		<% if object.errors.any? %>
      	<h2 style="color:#b86662"><%= pluralize(object.errors.count, "error") %> prohibited this record from being saved:</h2>

      	<ul>
      		<% object.errors.full_messages.each do |msg| %>
        		<li style="color:#b86662"><%= msg %></li>
      		<% end %>
      	</ul>
 
  	<% end %>
	</div>
</div></div>